body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: block;
}

#welcome {
  display: flex;
  justify-content: center;
  font-size: 80px;
}

#main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap
}

#main_nav {

}

#main_routes {

}